main {
  background-color: blueviolet;
  height: 100vh;
}

#calculator {
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

.box {
  width: 70vw;
  box-shadow: 10px 5px 5px black;
}
